
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin: 20px;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

#redactButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#redactButton:hover {
    background-color: #0056b3;
}
